apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-deployment
  template:
    metadata:
      labels:
        app: frontend-deployment
    spec:
      containers:
      - name: frontend-container
        image: meiezbr/xxx
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        env:
        - name: REACT_APP_ANSIBLE_LAB_URL
          valueFrom:
            configMapKeyRef:
              name: vm-configmap
              key: REACT_APP_ANSIBLE_LAB_URL
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend-deployment
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30002